@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/owl.carousel/src/scss/owl.carousel.scss";
@import "../../node_modules/owl.carousel/src/scss/owl.theme.default.scss";
@import "../../node_modules/owl.carousel/src/scss/theme";
@import "../../node_modules/owl.carousel/src/scss/owl.theme.green.scss";
@import "../../node_modules/owl.carousel/src/scss/core";


.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
};